@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
htm{

}
body{
    background-color: #d5dae9;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.logo-img{
    width: 100px;
    z-index: 1;
}
.card{
    background-color: #6503ef;
    color: #ffffff;
}
.app-img{
    border-radius: 20px;
    width: 100px;
}

.slick-next{
    right: 100px;
}
.slick-prev{
    left: 70px;
}
.slick-prev:before, .slick-next:before{
    color: #6503ef;
    display: none;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #7E76F9;
    border-radius: 50%;

}
.slick-dots li.slick-active{
    width: 15px;
    height: 15px;
    background-color: #7E76F9;
   
}
.link-img{
    width: 150px;
}
.list-gp{
    
}
.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay: 1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}

@media screen and (max-width:786px) {
    .slick-next{
        right: 60px;
    }
    .slick-prev{
        left: 30px;
    }
}